@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@700&display=swap");

:root {
  /* font-size: min(calc(1.5em + 0.01vw), 2em); */
  /* berekening waarin de font size veranderd gebasseert op vw */
  scroll-behavior: smooth;
  --main-color: #5052c9;
  --main-font: 'Rajdhani', sans-serif;

}

::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: border-box;
}

/* .inlog {
opacity: 0;

} */

.right {
  text-align: right;
}

.left {
  text-align: left;
}

body {
  margin: 0;
  margin-bottom: 0px;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
}

/* Opmaak van de header */
.main-header {
  position: fixed;
  z-index: 11;
}

.logo {
  width: 8em;
  margin: 20px;
  opacity: 0;
}

/* ----------INDEX.HTML---------- */

.info-button {
  padding: 4px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: var(--main-color);
  color: #eaeaea;
  font-family: var(--main-font);
  font-size: 0.8em;
  border-radius: 0.5em;
  font-weight: bold;
  border: 0px;
  margin-bottom: 10%;
  transition: 0.3s;
}

.info-button:hover {
  background-color: #eaeaea;
  color: var(--main-color);
  border: solid 1px;
  transition: 0.3s;
}

.over {
  height: 100%;
  width: 100%;
  z-index: 2;
}

/* Kaart */
#map {
  height: 100%;
  width: 100%;
}

.leaflet-container,
.leaflet-touch,
.leaflet-retina,
.leaflet-safari,
.leaflet-fade-anim,
.leaflet-grab,
.leaflet-touch-drag,
.leaflet-touch-zoom,
.leaflet-pane,
.leaflet-map-pane {
  z-index: 1;
  position: fixed;
}

.searh-bar-desktop {
  z-index: 100;
  position: absolute;
}

.flexcon {
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(68, 68, 68, );
  padding-left: 10px;
  display: flex;
  overflow: auto;
  transform: translatey(70vh);
  scroll-snap-type: x mandatory;
  z-index: 10;
  position: absolute;
}

.desktop-search-container {
  width: 20%;
  float: right;
  margin-right: 23%;
}

.desktop-search-container input {
  width: 2.5em;
  float: right;
  transition: .2s;
  color: white;
}

.desktop-search-container input::placeholder  {
  color: white !important;
}

.desktop-search-container input:hover {
  width: 100%;
  float: right;
  background: rgba(153, 182, 229, 0.13);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.1px);
  -webkit-backdrop-filter: blur(5.1px);
  border: 1px solid rgba(80, 82, 201, 0.2);
  color: rgb(80, 82, 201);
}

.desktop-search-container input:focus {
  outline: none !important;
}

.search-bar-icon {
  width: 1.5rem;
  position: fixed;
  float: right;
  top: 13%;
  pointer-events: none;
}

.flexcon.active {

  transform: translatey(112vh);
  /* height: 100%; */
  z-index: 10;
}

.slide {
  height: 180%;
  position: relative;
  background: rgb(216, 215, 244);
  background: linear-gradient(
    0deg,
    rgba(216, 215, 244, 1) 0%,
    rgba(236, 236, 250, 1) 10%,
    rgba(255, 255, 255, 1) 100%
  );
  z-index: 12;
}

.slide.active {
  display: block;
  position: relative;
  transition: 0.3s;
  z-index: 12;

}

#flex-scroll {
  padding: 30px 20px;
  top: 0px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 30px;
  position: relative;
  z-index: 10;
}

#flex-scroll.active {
  display: none;
}

.box {
  width: 70vw;
  height: 15vh;
  border-radius: 1em;
  padding: 10px 20px 20px 20px;
  scroll-snap-align: center;
  background-color: #eaeaea;
  -webkit-box-shadow: 1px 1px 39px -18px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 39px -18px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 39px -18px rgba(0, 0, 0, 0.75);
  z-index: 10;
  position: relative;
  transition: 0.3s;
  bottom: 37vh;
}

.box.active {
  margin-top: 70vh;
  transition: 1s;
  transition-timing-function: cubic-bezier(0.405, -0.445, 0.285, 1.65);
  transition: 0.3s;
  z-index: 10;
}

h3 {
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 1.5em;
  margin-top: 0px;
  margin-bottom: 0px;
  color: var(--main-color);
  text-align: center;
  margin-top: 6%;
  z-index: 10;
}

h4 {
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 1.5em;
  margin-top: 0px;
  margin-bottom: 0px;
  color: var(--main-color);
}

.boxtext {
  font-size: 0.8em;
  font-family: "roboto" sans-serif;
}


/* Opmaak van de inlogpagina */
.inlog {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--main-color);
  z-index: 200;
  padding: 9%;
  padding-top: 20%;
  overflow: hidden;
  transition: .6s ease-in-out;
  
  
    }
  
    .inlog.active {
      /* opacity: 0;  */
      pointer-events: none;
      /* width: 0px; */
      /* height: 0px; */
      transform: translatey(-300vw);
      
    }
  
    .heading-inlog {
      font-family: var(--main-font);
      font-weight: 600;
      font-size: 4em;
      color: #eaeaea;
      line-height: 1em;
      margin-top: 0px;
      margin-bottom: 0px;
    }
  
    .p-inlog {
      font-family: var(--main-font);
      font-weight: 300;
      font-size: 1.3em;
      color: #c8c8c8;
      line-height: 1.5em;
      margin-top: 10px;
    }
  
    .inlog-button {
  
        align-items: center;
        appearance: none;
        border-radius: 4px;
        border-style: none;
        box-shadow: rgba(0, 0, 0, .2) 0 3px 1px -2px,rgba(0, 0, 0, .14) 0 2px 2px 0,rgba(0, 0, 0, .12) 0 1px 5px 0;
        box-sizing: border-box;
        color: var(--main-color);
        cursor: pointer;
        display: inline-flex;
        font-family: var(--main-font);
        font-size: .9rem;
        font-weight: 700;
        height: 36px;
        justify-content: center;
        letter-spacing: .09em;
        line-height: normal;
        min-width: 64px;
        outline: none;
        overflow: visible;
        padding: 0 16px;
        position: relative;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
        -webkit-user-select: none;
        vertical-align: middle;
  
      }
      
      .inlog-button:hover {
        box-shadow: rgba(0, 0, 0, .2) 0 2px 4px -1px, rgba(0, 0, 0, .14) 0 4px 5px 0, rgba(0, 0, 0, .12) 0 1px 10px 0;
      }

/* ----------DETAILS.HTML---------- */

/* Opmaak van de kaart. */
.map-placement {
  z-index: 1;
}

.map-img {
  object-fit: cover;
  height: 30vh;
  width: 100%;
}

.leaflet-control-container {
  display: none;
}

/* popup opmaak */

.info-title-popup {
  font-size: .8em;
  color: #808080;
  margin-bottom: -15px !important;
  margin-top: -5px !important;
}

.smart-title-popup {
  font-family: "Rajdhani";
  font-weight: bold;
  margin-top: -10px !important;
  margin-bottom: -10px !important;

}

/* Opmaak van de header in de info tab. */
.info-tab {
  height: 40vh;
  padding: 2em;
}

.header-content {
  margin-top: -40px;
}

.smart-funtcion {
  background-color: #00ffec;

  padding: 6px;
  border-radius: 10px;
  font-size: 0.6em;
  margin-bottom: 0;
}

.smart-title {
  font-family: "Rajdhani";
  font-weight: bold;
  margin-top: -10px;
}

.smart-city {
  font-size: 1.3em !important;
  margin-top: 0px;
  color: #808080;
}

.smart-city {
  font-size: 0.7em;
  margin-top: -20px;
  color: #808080;
}

.smart-city2 {
  font-size: 0.8em;
  margin-top: 1px;
  margin-bottom: 10px;

  color: #808080;
}

.button-row {
  width: 100%;
  z-index: 100;
  padding-bottom: .2em;
}

.route-btn {
  width: 70%;
  margin-right: 5%;
  float: left;
  padding: 8px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: var(--main-color);
  color: #eaeaea;
  font-family: var(--main-font);
  font-size: 0.8em;
  border-radius: 0.5em;
  font-weight: bold;
  border: 0px;
}

.locate-btn {
  width: 25%;
  float: left;
  padding: 8px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: var(--main-color);
  color: #eaeaea;
  font-family: var(--main-font);
  font-size: 0.8em;
  border-radius: 0.5em;
  font-weight: bold;
  border: 0px;
}

/* Opmaak van de info tab. */
.content-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.info-item {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.info-title {
  font-size: 0.6em;
  color: #808080;
}

.ondergrond {
  position: absolute;
  bottom: -200px;
  width: 100%;
  height: 16vh;
  background-color: #eaeaea;
  transition: .3s;
  z-index: 90;


}

.ondergrond.active {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70vh;
  background-color: #eaeaea;
  transition: 0.3s;
  transition-delay: 0.2s;
  transition-timing-function: ease;
  z-index: 5;

}

.iconen {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-content: space-between;
  margin-left: 60px;
  margin-right: 60px;

}

.bottom-nav {
  position: fixed;
  bottom: 20px;
  width: 100%;
  z-index: 90;
}

.bottomicons {
  width: 25px;
}

.bottomicon4 {
  width: 25px;
}

.js-up {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.js-search {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.lower-tab {
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 0px 0px 0px 16px;
}

/* Opmaak van de footer. */
footer {
  position: absolute;
  bottom: 20px;
  width: 78vw;
}

.info-content {
  font-size: 1em !important;
  margin-top: -10px;
}

/* Opmaak van de preview tab. */
.preview-tab {
  height: 20vh;
  margin-top: -20px;
}

.preview-img {
  object-fit: cover;
  height: 20vh;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
  box-shadow: -1px -23px 40px 7px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: -1px -23px 40px 7px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: -1px -23px 40px 7px rgba(0, 0, 0, 0.22);
}

.overview {
  position: absolute;
  bottom: -100%;
  border-radius: 1.5em 1.5em 0em 0em;
  background-color: #f8f8f8;
  z-index: 40;
  height: 90%;
  width: 100%;
  box-shadow: -1px -23px 40px 7px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: -1px -23px 40px 7px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: -1px -23px 40px 7px rgba(0, 0, 0, 0.22);
  transition-duration: 1s;


}

.overview.active {
  position: absolute;
  bottom: 0px;
  border-radius: 1.5em 1.5em 0em 0em;
  background-color: #f8f8f8;
  height: 90%;
  width: 100%;
  box-shadow: -1px -23px 40px 7px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: -1px -23px 40px 7px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: -1px -23px 40px 7px rgba(0, 0, 0, 0.22);
  z-index: 40;
  transition-duration: 1s;
  


}

.infoview {
  position: absolute;
  height: 82%;
  width: 100%;
  bottom: 10%;
  padding: 10%;
  padding-top: 3%;
  border-radius: 1.5em 1.5em 0em 0em;
  background-color: #f8f8f8;
  overflow: scroll;
}

.listutrecht {
  position: relative;
  width: 100%;
  padding-left: 0%;
  margin-top: 5%;
  margin-bottom: 0px;
}

.listutrechtitem {
  position: relative;
  height: 18%;
  width: 100%;
  list-style-type: none;
  background-color: #eaeaea;
  border-radius: 0.5em;
  margin-top: 2%;
  padding: 1%;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "icon info goto";
}

.goto {
  height: 63px;
  width: 63px;
  border-radius: 0.3em;
  grid-area: goto;
}

.listtext {
  grid-area: info;
  margin: 0px;
  padding-left: 15px;
}

.close-button {
  border: none;
  background-color: transparent;

}

.plaatsnaam {
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 0.9em;
  margin-top: 8%;
  margin-bottom: -10px;
  color: #1b1b1b;
  margin-left: 4px;
}

.listicon {
  height: 70px;
  width: 70px;
  border-radius: 0.3em;
  grid-area: icon;
  margin-left: 3px;
  margin-top: 3%;
}

.move-under {
  padding-top: .2em;
}

.infotext {
  font-family: var(--main-font);
  font-size: 1em;
  margin-top: -15px;
  margin-bottom: 0px;
  color: #1b1b1b;
}

p.infosub {
  font-family: "Roboto", sans-serif;
  font-size: 75%;
  margin-top: 0px;
  margin-bottom: -10px;
  color: #1b1b1b;
}

.play {
  width: 15px;
  margin-left: 20px;
  opacity: 80%;
}

.fakebutton {
  text-decoration: none;
}

/* Map marker */

.circle-with-txt {
  position: relative;
  color: white;
  font-size: 12px;
  font-weight: bold;
  width: 40px;
  height: 40px;
}
.txt {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 16px;
}

.search {
position: fixed;
top: -70px;
left: 7.5%; 
width: 100%;
height: 6%;
z-index: 5;
transition: .3s;
}

.search.active {
  position: fixed;
  top: 60px;
  left: 7.5%; 
  width: 100%;
  height: 6%;
  z-index: 5;
  transition: .3s;
}

.location-icon-container {
  margin-top: 40px;
}

.locate-icon {
  position: absolute;
  width: 27px;
  top: .6em;
  right: 3.5em;
  opacity: .7;
  z-index: 100 !important;
}

.loop-icon {
  position: absolute;
  width: 27px;
  top: .6em;
  right: 3.5em;
  opacity: .7;
}

.searchbar-styling {
  background: rgba(153, 182, 229, 0.13);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.1px);
  -webkit-backdrop-filter: blur(5.1px);
  border: 1px solid rgba(80, 82, 201, 0.2);
  color: rgb(80, 82, 201);
}

#search {
  position: fixed; 
  height: 6%;
  width: 85%;
  padding: 20px;
  padding-right: 65px;
  background: rgba(153, 182, 229, 0.13);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.1px);
  -webkit-backdrop-filter: blur(5.1px);
  border: 1px solid rgba(80, 82, 201, 0.2);
  font-size: 1.2em;
  color: rgb(80, 82, 201);
}

#search:focus {
  outline: none;
}

.gradient {
  position: absolute;
  width: 100%;  
  height: 17%;
  bottom: 0;
  background: rgba(255, 255, 255, 0.57);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  z-index: 1;
}
  
.gradient.active {
  position: absolute;
  width: 100%;  height: 0% !important;
  bottom: 0;
  background: rgba(255, 255, 255, 0.57);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  z-index: 9;
  display: none;
  transition: .2;
} 

.leaflet-popup-content-wrapper, .leaflet-popup-tip {

background: rgba(237, 235, 235, 0.3) !important;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2) !important;
backdrop-filter: blur(5.1px) !important;
-webkit-backdrop-filter: blur(5.1px) !important;
border: 1px solid rgba(153, 182, 229, 0.5) !important;
z-index: 45678 !important
}

.login-box {
  width: 100%;
  margin-bottom: 2em;
}

.login-box h2{
  margin-bottom: .5em;
}

.intro-box {
  width: 100%;
}

::placeholder { 
  color: #c9c7c8;
  opacity: 1;
}

.form-field {
  background-color: #f7f7f7;
  padding: 2em;
}
          
.ctc-form {
  width: 60%;
  margin-left: 20%;
}
          
input {
  width: 100%;
  padding: .6em;
  border-radius: 5px;
  border: none;
  font-family: "Rajdhani";
  font-size: 16px;
  margin-bottom: 1em;
}
          
textarea {
  width: 100%;
  padding: .7em;
  border-radius: 5px;
  border: none;
  font-family: "Rajdhani";
  font-size: 16px;
  margin-bottom: 1em;
  resize: none;
}

.isEmpty {
  background-color: #fba5a4;
  border: solid 2px red;
}

@media screen and (min-width: 1024px) {

  html {
background-color: #d8e9f2;
overflow: hidden;

  }

  .search {
    position: absolute;
    /* display: none; */
    width: 10px;
    top: 2vw;
    left: 65.5vw;
    color: #00ffee00;
    
    
  }

  #search {
    height: 50px;
    width: 50px;
    padding: 20px;
    top: 12vh;
    left: 85vw;
    padding-right: 0px;
    border-radius: .5em;
    background-color: #fbfbfb;
    box-shadow: 0 4px 30px rgba(231, 224, 224, 0.9);
    backdrop-filter: blur(5.1px);
    -webkit-backdrop-filter: blur(5.1px);
    border: 1px solid rgba(80, 82, 201, 0);
    transition: .2s;
  }

  .loop-icon {
    left: 73.9vw;
    top: 1.8vh;
    width: 22px;
    pointer-events: none;
  }

  #search:hover {
    width: 300px;
    left: 68vw;
    cursor: pointer;
    border: 1px solid rgba(80, 82, 201, 0.5);
    
  }


  .alles {
    position: absolute;
    width: 100%;
    overflow: hidden;
  }


  body {
    width: 80%;
    height: 80%;
    z-index: 100 !important;
    position: absolute;
    left: 10%;
    top: 10%;
    background: rgba(255, 255, 255, 1);
    border-radius: 1em;
    box-shadow: #1b1b1b;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px; 
    overflow: hidden;
  }



  .alles {
overflow: hidden;
  }


  .leaflet-container {

    max-width: 100%;
    
  }
  .box {
    width: 18em;
  }

  .over, .bottom-nav, .gradient {
    display: none;
  }

  .sidebar {
    float: left;
    width: 19vw;
    height: 80vh;
    z-index: 100 !important;
    position: fixed;
    background: rgba(255, 255, 255, 1);
    overflow: scroll;
    border-radius: 1em;
    margin-top: 0px;
  }

  #map {
    position: relative;
    border-radius:1em;
    left: 19.2vw;
    width: 60.3vw;
    height: 78.5vh;
    margin-top: .5%;
  }

  .smartzones-container-result {
    padding: 0.5em;
    display: none;
  }

  .smartzones-container-result.active {
    display: block;
  }

  .smartzones-container {
    padding: 0.5em;
  }

  .smartzones-container.active {
    display: none;
  }

  .smartzones-container-fav {
    padding: 0.5em;
  }

  .small-text {
    padding: .1em 1em .1em 1em;
    color: #808080;
    font-family: var(--main-font);
    font-weight: 600;
    font-size: .8em;
  }

  .logo-container {
    padding-left: .5em;
    margin-top: 10px;
  }


  .smartzone-box {
    padding: .1em .5em .1em .5em;
    background-color: #f7f9fc;
    border-radius: .5em;
    margin-bottom: 3%;
    padding-left: 15px;
    padding-top: 10px;
    margin-left: 4%;
    margin-right: 1vw;
	  border: none;
	  cursor: pointer;
    text-align: left;  
    width: 90%;
}

  .smartzone-box:hover .smartzone-info {
    padding-left: .7em;
    transition: .2s;
    cursor: pointer;
  }

  .smartzone-box h4{
    font-size: 1.4em;
    color: #1b1b1b;
  }

  .smartzone-info {
    padding-left: .5em;
  }

  .beschikbaar {
    color: #40e173;
  }

  .beschikbaar::before {
    content: "Bechikbaar ";
    color: #1b1b1b;
    font-weight: 100;
    font-family: "roboto";
    font-size: .8em;
    margin-right: 3px;
  }

  .status-marker {
    float: right;
    font-size: .6em;
  }

  .bezet {
    color: #ff3333;
  }

  .bezet::before {
    content: "Bezet ";
    color: #1b1b1b;
    font-weight: 100;
    font-family: "roboto";
    font-size: .8em;
    margin-right: 3px;

  }

  .overview, .ondergrond {
    display: none;
  }

  .desktop-info-box .active {
    display: none;
  }

  .desktop-info-box .close {
    transform: translateY(100%);
  }

  .desktop-info-box {
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(4.5px);
    -webkit-backdrop-filter: blur(4.5px);
    float: left;
    width: 22vw;
    padding: 2%;
    padding-top: 1em;
    height: 72vh;
    margin-top: 2.5vw;
    margin-left: 21.5vw;
    z-index: 100 !important;
    position: fixed;
    overflow: hidden;
    border-radius: 1em;
    box-shadow: rgba(50, 50, 93, 0.1) 0px 13px 27px -5px, rgba(0, 0, 0, 0.1) 0px 8px 16px -8px;
  }

  .desktop-info-box h2 {
    font-family: var(--main-font);
    font-size: 1.8em;
    margin-top: 20px;
  }

  .button-row {
    margin-bottom: 3em;
  }

  .description {
    font-size: .9em;
    margin-top: -1.5em;
    margin-bottom: 1em;
  }

  .info-title-top {
    margin-bottom: -10px;
    margin-top: 2em;
    font-size: 0.8em;
    color: #808080;
  }

  .info-content {
    font-size: .8em !important;
    margin-top: .2em;
  }

  .desktop-info-box .desk-box {
    width: 100%;
    font-size: .9em;
  }


  .desktop-nav {
    width: 100%;
    margin-top: 1%;
    margin-left: 2%;
    float: right;
    z-index: 100 !important;
    position: fixed;
  }

  button:hover {
    cursor: pointer;
    opacity: .9;
  }

  .button-cointainer-height {
    height: 100%;
  }

  .bottom-button-row {
    bottom: 0;
    position: absolute;
    width: 82%;
    margin-bottom: 2em;
    display: block;
  }

  .back-btn {
    border: none;
    background-color: transparent;
    font-family: var(--main-font);
    font-size: .9em;
    font-weight: 600;
    margin-top: 15px;    
    color: #0c0c0c;
    float: left;
    text-align: left;
    padding: 0;
  }

  .reserve-button {
    background-color:var(--main-color);
    font-family: var(--main-font);
    font-weight: 600;
    float: right;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: .8em;
    border-radius: 0.5em;
    border: 0px;
    color: white;
    transform: translateY(7px);
  }

  
  .desktop-info-box .info-item {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    padding: .1em;
    border-radius: 10px;
    margin-top: 0.7em;
    text-align: center;
  }
  
  .info-icon {
    font-size: 2em;
    margin: 0;
    color: var(--main-color);
  }

  
  
  .item2 {
    margin-right: .5em;
    margin-left: .5em;
    
  }
  
  
  
  .icon-sizing {
    width: .8em;
    margin-top: .4em;
  }
  
  .content-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-top: .4em;
  }
  
  #flex-scroll {
    display: none;
    
  }
  
  .inlog {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    background: linear-gradient(90deg, rgba(80,82,194,1) 0%, rgba(131,58,180,1) 100%);
    z-index: 200;
    border-radius: 1em;
    padding: 5%;
    overflow: hidden;
    transition: .6s ease-in-out;
    
    
  }
  
  .inlog.active {
    /* opacity: 0;  */
    pointer-events: none;
    /* width: 0px; */
    /* height: 0px; */
    transform: translatey(-100vw);
    
  }
  
  .heading-inlog {
    font-family: var(--main-font);
    font-weight: 600;
    font-size: 4em;
    color: #eaeaea;
    line-height: 1em;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  
  .p-inlog {
    font-family: var(--main-font);
    font-weight: 300;
    font-size: 1.3em;
    color: #c8c8c8;
    line-height: 1.5em;
    margin-top: 10px;
  }
  
  .inlog-button {
    
    align-items: center;
    appearance: none;
    border-radius: 4px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 1px -2px,rgba(0, 0, 0, .14) 0 2px 2px 0,rgba(0, 0, 0, .12) 0 1px 5px 0;
    box-sizing: border-box;
    color: var(--main-color);
    cursor: pointer;
    display: inline-flex;
    font-family: var(--main-font);
    font-size: .9rem;
    font-weight: 700;
    height: 36px;
    justify-content: center;
    letter-spacing: .09em;
    line-height: normal;
    min-width: 64px;
    outline: none;
    overflow: visible;
    padding: 0 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
    -webkit-user-select: none;
    vertical-align: middle;
    
  }
  
  .inlog-button:hover {
    box-shadow: rgba(0, 0, 0, .2) 0 2px 4px -1px, rgba(0, 0, 0, .14) 0 4px 5px 0, rgba(0, 0, 0, .12) 0 1px 10px 0;
  }
  
  .first-container {
    width: 100%;
  }
  
  .login-box {
    width: 35%;
    float: left;
    padding: 1em;
  }
  
  .intro-box {
    width: 55%;
    float: right;
      padding: 1em;
      border-left: 3px solid white;
    }
    
    .h2-margin {
      margin-bottom: .5em;
    }
    
    .white-btn {
      background-color: white;
      color: var(--main-color);
    }
    
    .white-btn:hover {
      background-color: #00ffec;
	    color: var(--main-color);
      cursor: pointer;
    }
    
    ::placeholder { 
      color: #c9c7c8;
      opacity: 1;
    }
    
    .form-field {
      background-color: #f7f7f7;
      padding: 2em;
    }
    
    .ctc-form {
      width: 60%;
      margin-left: 20%;
    }
    
    input {
      width: 100%;
      padding: .6em;
      border-radius: 5px;
      border: none;
      font-family: "Rajdhani";
      font-size: 16px;
      margin-bottom: 1em;
    }
    
    textarea {
      width: 100%;
      padding: .7em;
      border-radius: 5px;
      border: none;
      font-family: "Rajdhani";
      font-size: 16px;
      margin-bottom: 1em;
      resize: none;
    }
    
    .isEmpty {
      background-color: #fba5a4;
      border: solid 2px red;
    }
    
    .reserve-menu {
      position:absolute;
      right: 0;
      bottom: 4.6%;
      z-index: 1000;
      padding: 2em;

      width: 40%;
      height: 90%;
      
      border-radius: 1em;
      transform: translateX(100%) translateZ(1px);
      transition: transform .3s;
      background: rgba(255, 255, 255, 0.7);
      box-shadow: rgba(50, 50, 93, 0.1) 0px 13px 27px -5px, rgba(0, 0, 0, 0.1) 0px 8px 16px -8px;

      -webkit-backdrop-filter: blur(4px);
      backdrop-filter: blur(4px);
    }
    
    .reserve-menu.active {
      transform: translateX(-6%) translateZ(1px);
    }

    .date {
      height: 5%;
      background-color:#f2f2f2;
      padding: 10%;
      padding-top: 7%;
      padding-bottom: 7%;
      font-family: "Rajdhani";
      color: var(--main-color);
      font-size: 2em;
      border-radius: .2em;
    }

    .time {
      height: 5%;
      background-color:#f2f2f2;
      padding: 10%;
      padding-top: 7%;
      padding-bottom: 7%;
      font-family: "Rajdhani";
      color:var(--main-color);
      font-size: 2em;
      border-radius: .2em;
      margin-left: 3%;
    }

    .date-time {
      display: flex;

    }
  }
